body {
	font-family: 'Helvetica Neue', Helvetica, FreeSans, Arial, sans-serif;
	padding: 20px;
	color: #333;
	background-color: #fcfcfc;
}

nav {
	float: left;
	width: 20%;
	overflow: hidden;
}

.content {
	width: 80%;
	max-width: 800px;
	float: left;
}


.edit_area textarea {
	min-height: 400px !important;
}
